:root{/*Pseudo clase para declarar variables*/
    --background: linear-gradient(135deg, rgba(4, 132, 29, 0.494)  0%, rgba(245, 26, 15, 0.242) 100%);
    --color-primary: #FF2700;
    --color-secondary: #764ba2;
    --boton-padding: 20px, 40px;
}

main{
    display: flex;
    align-items: start;
}

#title{
    font-weight: bold;
    color: var(--color-primary);;
}

section{
    width: 50vw;
    display: inline-block;
    margin: 30px 5vw;
}

aside{
    width: 25vw;
    display: inline-block;
    margin: 30px 3vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .35);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .35);
}

#aside-header{
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

#aside-body{
    padding: 10px;
}

#photo-container{
    display: flex;
    justify-content: center;
}

#photo{
    border-radius: 5px;
    max-height: 200px;
}
